*{
    margin:0;
    padding:0;
    }
    
    body,html{
    width:100%;
    height:70%
    }
    
    body{
    background-image:white;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    font-family:sans-serif;
    margin:40px;    
     }
        
    .regform{
    width:800px;
    background-color:rgba(63, 70, 66, 0.8);
    margin:auto;
    color:#FFFFFF;
    padding:10px 0px 10px 0px;
    text-align:center;
    border-radius:15px 15px 0px 0px;
    }
    
    .main{
    background-color:rgba(90, 94, 92, 0.7);
    width:800px;
    margin:auto;
    }
    
    form{
    padding:40px;
    }
    
    #name{
    width:100%;
    height:650px;
    }
    .yearlabel,.pricelabel,.distancelabel,.ownerlabel,.fuellabel,.sellerlabel,.translabel{
    margin-left:15px;
    margin-top:20px;
    width:125px;
    color:white;
    font-size:20px;
    font-weight:700;
    }
    
    .yearname,.pricename,.kmsname,.ownername{
    position:relative;
    left:10px;
    line-height:40px;
    margin-bottom:35px;
    border-radius:6px;
    padding:0 22px;
    font-size:14px;
    border-radius: 15px;
    }
    .yearname{
    margin-left:250px;
    }
    .yearname:hover{
        border: 4px solid rgb(16, 16, 65);
        background-color: #33D2FF ;
     }
    .pricename{
    margin-left:40px;
    }
    .pricename:hover{
        border: 4px solid rgb(16, 16, 65);
        background-color: lightgoldenrodyellow;
     }
    .kmsname{
    margin-left:120px;
    }
    .kmsname:hover{
        border: 4px solid rgb(16, 16, 65);
        background-color: lightgoldenrodyellow;
     }
    .ownername{
    margin-left:2px;
    margin-bottom:35px;
    }
    .ownername:hover{
        border: 4px solid rgb(16, 16, 65);
        background-color: lightgoldenrodyellow;
     }
    
    .option,.option1,.option2{
    position:relative;
    left:200px;
    margin-bottom:35px;
    margin-left:8px;
    line-height:40px;
    width:220px;
    border-radius:6px;
    padding:0 22px;
    font-size:14px;
    color:#555;
    }
    
    .option1{
    margin-left:-5px;
    }
    
    .option2{
    margin-left:-80px;
    }
    button{
    background-color:#8485da;
    display:block;
    margin:20px 0px 0px 200px;
    text-align:center;
    border-radius:12px;
    border:2px solid #1285ac;
    padding:14px 110px;
    outline:none;
    color:white;
    cursor:pointer;
    transition:0.25px;
    }
    
    button:hover{
    background-color:#5390F5;
    border: 3px solid rgb(6, 6, 66);
    }
    span{
    color:#031f44;
    font-size:18px;
    text-align:center;
    margin-top: 20px;
    }
    span:hover{
        color:blueviolet;
    }
    .result{
        margin-top: 5px;
    }